{% extends "account/base.html" %}

{% block title %}Orders{% endblock %}

{% block content %}
    <h1>MyOrders</h1>
    {% if request.user.is_authenticated %}
        <div id="header">
            <ul class="menu">
                <li {% if section == "add_order" %}class="selected"{% endif %}>
                    <a href="{% url "jobprogress:add_order" %}">Dodaj zamówienie</a>
                </li>
                <li {% if section == "add_template" %}class="selected"{% endif %}>
                    <a href="{% url "jobprogress:add_template" %}">Dodaj template</a>
                </li>
            </ul>
        </div>
        <ol>
            {% if orders %}
                <table style="width:100%">
                    <tr>
                        <th>No.</th>
                        <th>Name</th>
                        <th>Investor</th>
                        <th>Contractor</th>
                        <th>ID</th>
                        <th>Status</th>
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <th>

                            </th>
                            <th><a href="{% url "jobprogress:order" order.id %}">{{ order.job_type|upper }}</a></th>
                            <th>{{ order.investor }}</th>
                            <th>{{ order.contractor }}</th>
                            <th>{{ order.id }}</th>
                            <th>{{ order.get_status_display }}</th>
                            <th><a href="{% url "jobprogress:update_order" order.id %}">Update</a></th>
                            <th><a href="{% url "jobprogress:delete_order" order.id %}">Delete</a></th>
                            <th><a href="{% url "jobprogress:email_notification" order.id %}">Email Notification</a></th>
                        </tr>
                    {% endfor %}
                </table>
            {% endif %}
        </ol>
    {% endif %}
{% endblock %}

