{% extends "account/base.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}
    <h1>Order Details</h1>
    <ol>
        <table style="width:100%">
            <tr>
                <td>Type</td>
                <th>Work_ID</th>
                <th>Investor</th>
                <th>Contractor</th>
                <th>ID</th>
                <th>Status</th>
            </tr>
            <tr>
                <td>{{ order }}</td>
                <th>{{ order.work_id }}</th>
                <th>{{ order.investor }}</th>
                <th>{{ order.contractor }}</th>
                <th>{{ order.id }}</th>
                <th>{{ order.get_status_display }}</th>
            </tr>
        </table>
    </ol>
    {% for task in tasks %}
        <li>
            <p>{{ task.name }}</p>
            <p>{{ task.body|linebreaks }}</p>
        </li>
    {% empty %}
        No tasks added
    {% endfor %}
    <p>Order status:</p>
    <ol>
        {% for status in statuses %}
            <li>
                <p>{{ status }}</p>
                <p>{{ status.body|linebreaks }}</p>
            </li>
        {% empty %}
            No status added
        {% endfor %}
    </ol>
{% endblock %}