{% extends "account/base.html" %}

{% block title %}Browser{% endblock %}

{% block content %}
    <h1>Browser</h1>
    <table style="width:100%">
        <tr>
            {% include 'jobbrowser/job_search_bar.html' %}
        </tr>
        <tr>
            <th>Name</th>
            <th>Investor</th>
            <th>Contractor</th>
            <th>Status</th>
        </tr>
        {% if orders %}
            {% for order in orders %}
                <tr>
                    <th><a href="{% url "jobprogress:order" order.id %}">{{ order.job_type|upper }}</a></th>
                    <th>{{ order.investor }}</th>
                    <th>{{ order.contractor }}</th>
                    <th>{{ order.get_status_display }}</th>
                </tr>
            {% endfor %}
            </table>
        {% endif %}
{% endblock %}

