{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<header>
    <nav>
        <div class="logo">SuperVision</div>
        {% if request.user.is_authenticated %}
        <ul>
    {% include 'account/nav_bar.html' %}
        </ul>
        {% endif %}
        <div class="user-options">
            {% if request.user.is_authenticated %}
            <span>Welcome, {{ request.user.email }}!</span>
            <a href="{% url "account:logout" %}">Logout</a>
            {% else %}
            <a href="{% url "account:login" %}">Login</a>
            {% endif %}
        </div>
    </nav>
</header>
<div id="content">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>